/* @custom - people-power-3-5 */

html {
	border: 1em #eee solid;
}

.post-only {
	display: block;
}

.push {
	max-width: 100%;
	margin: 0 auto 4em;
}

img,
iframe,
#name:before {
	-moz-filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-transition: -moz-filter 0.25s ease-in;
	-webkit-transition: -webkit-filter 0.25s ease-in;
}

img:hover,
iframe:hover,
#name:hover:before {
	-moz-filter: grayscale(0);
	-webkit-filter: grayscale(0);
}

article h1 {
	font-size: 5em;
	line-height: 1;
	font-weight: 800;
	text-align: center;
	margin: .5em auto 0;
	letter-spacing: -0.05em;
	font-family: "Avenir", "avenir-web", Futura, sans-serif;
}

.subhead {
	color: #EF4E5B;
	font-size: 0.8em;
	text-align: center;
	margin: 2em auto 4em;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}

.narrow {
	clear: both;
	max-width: 80%;
	margin: 2em auto;
}

.meta {
	display: none;
}

.post a, .nav a, .navlink {
	color: #EF4E5B;
}

.active, article h1 a {
	color: #000 !important;
}

#name span {
	background-color: #ccc;
}

.left-image {
	float: left;
	max-width: 48%;
}

.right-image {
	float: right;
	max-width: 48%;
}

figure,
footer,
.paginate {
	text-align: center;
}

figcaption {
	margin: 0;
	clear: both;
	display: block;
}

cite {
	font-size: 0.75em;
}

.figtitle {
	margin: 0 0 2em;
}

.presidents {
	max-width: 110%;
}

.president {
	max-width: 20%;
	margin: 0 2% .5em;
	vertical-align: top;
	display: inline-block;
}

.president img {
	margin: 0;
}

.facts {
	color: #EF4E5B;
	font-size: .6em;
	font-weight: 500;
	font-style: normal;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
	font-family: "Avenir", "avenir-web", Futura, sans-serif;
}

.facts span {
	color: #000;
}

.footnotes hr {
	margin: 4em 0 2em;
}

@media screen and (max-width: 580px) {
	html {
		border: .5em solid #eee;
	}
	article h1 {
		font-size: 4em;
	}
	.narrow {
		max-width: 100%;
	}
	.footnotes a {
		width: 14em;
		overflow: hidden;
		white-space: nowrap;
		display: inline-block;
		text-overflow: ellipsis;
	}
}

@media screen and (max-width: 480px) {
	html {
		border: none;
	}
	.president {
		float: left;
		text-align: left;
		max-width: 100%;
	}
	.president img {
		float: left;
		max-width: 25%;
		margin: 0 1em 1em 0;
	}
	.facts {
		float: left;
	}
}

@font-face {
	font-family: "avenir-web";
	font-weight: 800;
	src: url(avenir-black.ttf) format("truetype");
}