.post-only {
	display: block;
}

body:before {
	display: block;
	content: 'The 9 Billion Dollar Tech Startup';
	color: #7B72E9;
	line-height: 1;
	font-weight: 900;
	text-align: center;
	text-shadow: 1px 1px 0 #05131E, 2px 2px 0 #05131E, 3px 3px 0 #05131E, 4px 4px 0 #05131E, 5px 5px 0 #05131E, 6px 6px 0 #05131E, 7px 7px 0 #05131E;
	background-image: url(imgs/atlassian_office.jpg);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	max-width: 100%;
	font-size: 6em;
	padding: 14rem 5rem 16rem;
	box-shadow: 0 0 10rem rgba(0, 0, 0, .75) inset, 0 -.5rem .5rem #141e2e inset;
}

.main:before {
	display: block;
	content: 'A look into Atlassian, written by Carlos Melegrito';
	color: #FFF;
	font-size: 1.5em;
	line-height: 1.4;
	text-align: center;
	text-shadow: 2px 2px 0 #05131E;
	top: -16rem;
	z-index: 999;
	position: relative;
}

.header {
	display: none;
}

.sidebar {
	display: none;
}

.post-title {
	display: none;
}

.permalink {
	display: none;
}

.content {
	display: block;
	margin: -3rem auto 0;
}

figure {
	margin-bottom: .5rem;
}

.right-floater {
	float: right;
	max-width: 30%;
	margin-top: .5rem;
	margin-left: 1rem;
	vertical-align: top;
}

figure img {
	margin-bottom: .5rem;
}

.right-floater figcaption {
	text-align: right;
}

.left-floater {
	float: left;
	max-width: 30%;
	margin-top: .5rem;
	margin-right: 1rem;
	vertical-align: top;
}

figcaption {
	font-size: 0.65em;
}

.slightly-large {
	width: 130%;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: -15%;
}

.slightly-large figcaption {
	text-align: center;
}

.footnotes {
	font-size: 0.65em;
	margin-top: 4rem;
}

@media (max-width: 1024px) {

	body:before {
		font-size: 5em;
		padding: 14rem 2rem;
	}

	.main:before {
		font-size: 1.2em;
		top: -12em;
	}

}

@media (max-width: 800px) {

	.slightly-large {
		width: auto;
		margin-left: 0;
	}

}

@media (max-width: 736px) {

	body:before {
		padding: 4rem 1rem 7rem;
	}

	.main:before {
		top: -8rem;
	}

}

@media (max-width: 414px) {


	body:before {
		padding: 4rem 1rem 8rem;
	}

	.right-floater, .left-floater {
		float: none;
		max-width: 100%;
		margin: 0 auto 1rem;
	}

	figcaption {
		text-align: left !important;
	}

}

@media (max-width: 320px) {

	body:before {
		font-size: 3em;
	}

}