<header class="header grid">
	<a href="{{ site.url }}" class="header--home grid--col--mini">{{ site.title }}</a>
	<nav class="header--nav grid--col--mini">
		<ul>
			{% for section in site.sections %}
			<li><a href="{{ section[1] }}" class="caps{% if page.permalink == section[1] or page.type == section[0] %} active{% endif %}">{{ section[0] }}</a></li>
			{% endfor %}
		</ul>
	</nav>
	<a href="{{ site.contact }}" class="header--prompt grid--col--mini caps">Get in touch {% include link-icon.svg %}</a>
</header>