// ------------------------------------------
// BASE: Base styles
// ------------------------------------------

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: $font-size;
	line-height: $font-base;
	font-family: $font-stack;

	color: $color-body;
	background-color: $color-background;

	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

ul, ol,
h1, h2, h3,
p, blockquote, pre,
figure, img, video, audio, embed {
	max-width: 100%;
	margin-bottom: 1rem;
}

article, main {
	min-height: calc(100vh - 13rem - 11rem);
}

.container {
	padding: 2rem;
	margin: 0 auto;
	max-width: $width-content;
}

@media (max-width: $width-mobile) {

	html {
		font-size: 100%;
	}

	.container {
		padding: 1rem;
	}

}