// ------------------------------------------
// Utilities
// ------------------------------------------

.link-icon {
	margin-left: .5rem;
	margin-bottom: -1px;
	display: inline-block;
	transform: translateZ(0);
	filter: drop-shadow(0 1px 1px rgba(0,0,0,.25));
	-webkit-filter: drop-shadow(0 1px 1px rgba(0,0,0,.25));
}

.link-icon path {
	fill: currentColor;
	transition: fill .25s $transition;
}

a:hover .link-icon path {
	fill: currentColor;
	transition: fill 0s linear;
}

.embed {
	height: 0;
	width: 100%;
	float: none;
	position: relative;
	padding-bottom: calc((9/16)*100%);
}

.embed iframe {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}