// ------------------------------------------
// Variables
// ------------------------------------------

$font-base: 1.5;
$font-size: 100%;
$font-stack: "qWNHNgXEpEmhJDNFu8", "Gill Sans", "Gill Sans MS", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;

$transition: cubic-bezier(.06, .53, .41, .89);

$width-tiny: 26rem;
$width-small: 45rem;
$width-medium: 48rem;
$width-content: 64rem;
$width-gigantic: 90rem;

// DARK THEME
$color-body: #AAAAAA;
$color-links: $color;
$color-headings: #FFFFFF;
$color-background: #111111;

// LIGHT THEME
// $color-body: #444;
// $color-links: #13BD93;
// $color-headings: #000;
// $color-background: #FFFFFF;