// ------------------------------------------
// TYPE: Site-wide typography
// ------------------------------------------

a {
	color: $color-links;
	text-decoration: none;
	border-bottom: 2px solid rgba($color-links, .25);
}

a:hover, a:active {
	border-bottom-color: $color-links;
}

h1, h2, h3 {
	line-height: 1.3;
	font-weight: normal;
}

h1 {
	font-size: 2em;
	color: $color-headings;
}

h2 {
	font-size: 1.5em;
	color: rgba($color-headings, .75);
}

h3 {
	font-size: 1em;
	letter-spacing: .1rem;
	text-transform: uppercase;
	color: rgba($color-headings, .5);
}

p + h2, p + h3 {
	margin-top: 2rem;
}

time, cite {
	font-size: .875em;
	@include capital;
}

ul, ol {
	margin-left: 1rem;
}

blockquote {
	padding-left: 1rem;
	color: rgba($color-body, .75);
	border-left: 2px solid rgba($color-body, .25);
}

figure img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: .5rem;
}

figcaption {
	font-size: .875em;
	color: rgba($color-body, .75);
}

code {
	font-size: .875em;
	padding: .1rem .25rem;
	color: lighten($color-body, 10%);
	font-family: "SF Mono", "Menlo", monospace;
	background-color: rgba($color-body, .5);
}

pre {
	padding: .5rem;
	line-height: 1.4;
	overflow-x: scroll;
	margin-bottom: 1rem;
	background-color: rgba($color-body, .5);
}

pre code {
	background-color: transparent;
}

sup {
	font-size: .8rem;
	margin-left: .1rem;
}

sup a {
	border-bottom: none;
}

hr {
	width: 100%;
	clear: both;
	margin: 2rem auto;
	@include divider;
}