// ------------------------------------------
// Variables
// ------------------------------------------

$font-base: 1.5;
$font-size: 100%;
$font-stack: "qWNHNgXEpEmhJDNFu8", "Gill Sans", "Gill Sans MS", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;

$width-mobile: 414px;
$width-narrow: 45rem;
$width-tablet: 768px;
$width-desktop: 1024px;
$width-content: 62.5rem;

$color-body: #AAAAAA;
$color-links: #CFA352;
$color-headings: #FFFFFF;
$color-background: #111111;
