// ------------------------------------------
// RESET: Base styles
// ------------------------------------------

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: $font-size;
	line-height: $font-base;
	font-family: $font-stack;

	color: $color-body;
	background-color: $color-background;

	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;

	padding: 1.5em;

	// background-image: url(/static/images/grid.png);
	// background-size: 1px 16px;
	// background-position: -1px -1px;
}

ul, ol,
h1, h2, h3,
p, blockquote, pre,
figure, img, video, audio, embed {
	max-width: 100%;
	margin-bottom: 1rem;
}

.container {
	margin: 0 auto;
	max-width: $width-content;
}