// ------------------------------------------
// Reset
// ------------------------------------------

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: $font-size;
	line-height: $font-base;
	font-family: $font-stack;

	color: $color-body;
	background-color: $color-background;

	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

ul, ol,
h1, h2, h3,
p, blockquote, pre,
figure, img, video, audio, embed, .embed {
	max-width: 100%;
	margin-bottom: 1rem;
}

main {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

@media (max-width: $width-medium) {

	main {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

}