// ------------------------------------------
// Variables
// ------------------------------------------

$font-base: 1.5;
$font-size: 100%;
$font-stack: "qWNHNgXEpEmhJDNFu8", "Gill Sans", "Gill Sans MS", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;

$width-tiny: 26rem;
$width-small: 45rem;
$width-medium: 48rem;
$width-content: 64rem;
$width-gigantic: 90rem;

$color-body: #AAAAAA;
$color-links: #CFA352;
$color-headings: #FFFFFF;
$color-background: #111111;
