// ------------------------------------------
// Typography
// ------------------------------------------

::selection {
	background-color: rgba($color-links, .25);
}

a {
	color: $color-links;
	text-decoration: none;
}

a:hover, a:active {
	color: $color-headings;
}

h1, h2, h3 {
	font-weight: normal;
	color: $color-headings;
}

h1, h2 {
	font-size: 1.5em;
	line-height: calc(4/3);
}

h3 {
	font-size: 1em;
	letter-spacing: .1rem;
	text-transform: uppercase;
}

* + h1, * + h2, * + h3 {
	margin-top: 3rem;
}

h1 + h2, h2 + h3 {
	margin-top: 0;
}

time, cite, .caps {
	letter-spacing: .1rem;
	text-transform: uppercase;
}

cite {
	font-style: normal;
	font-size: 0.875rem;
	color: rgba($color-headings, .5);
}

ul, ol {
	margin-left: 2rem;
}

blockquote {
	padding-left: 1rem;
	background-repeat: no-repeat;
	color: rgba($color-body, .75);
	background-size: 0.125rem 100%;
	background-position: 0 0.125rem;
	background-image: linear-gradient(to bottom, rgba($color-headings, 0.25) 0%, rgba($color-headings, 0.1) 100%);
}

figure img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: .5rem;
}

figcaption {
	font-size: .875em;
	color: rgba($color-body, .75);
}

code {
	padding: .1rem .25rem;
	font-size: 0.875em;
	line-height: 1.5rem;
	color: rgba($color-headings, .6);
	font-family: "SF Mono", "Menlo", monospace;
	background-color: rgba($color-headings, .1);
	box-shadow: 0 0 0 1px rgba($color-headings, .15);
}

pre {
	padding: 1rem;
	position: relative;
	overflow-x: scroll;
	background-color: rgba($color-headings, .1);
	box-shadow: 0 0 0 1px rgba($color-headings, .15);
}

pre code {
	padding: 0;
	box-shadow: none;
	background-color: transparent;
}

sup {
	font-size: .8rem;
	margin-left: .1rem;
}

sup a {
	border-bottom: none;
}

hr {
	width: 50%;
	clear: both;
	height: 1px;
	border: none;
	margin: 3rem auto calc(3rem - 1px);
	border-top: 1px solid rgba($color-body, .125);
}

.nd, .nl {
	color: rgba($color-headings, .9);
}