// ------------------------------------------
// Page
// ------------------------------------------

.page--image {
	display: flex;
	overflow: hidden;
	margin-top: -2px;
	max-height: 30rem;
	position: relative;
	align-items: center;
	margin-bottom: calc(4rem + 1px);
	background-color: rgba($color-headings, .1);

	img {
		width: 100%;
		margin-bottom: 0;
	}

	&:before {
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		box-shadow: 0 0 0 1px rgba($color-headings, .1) inset;
	}

}

.page--title {
	font-size: 2.5em;
	line-height: 1.2;
	font-weight: bold;
	margin-top: .5rem;
	margin-bottom: calc(4rem + .3rem);

	a {
		color: inherit;
		border-bottom: none;
	}
}

.page--subtitle {
	display: block;
	margin-bottom: 1.5rem;
}

@media (min-width: $width-medium) {

	.page--content {
		padding-right: 10%;
	}

}

@media (max-width: $width-small) {
	
	.page--title {
		margin-bottom: calc(1rem + .3rem);
	}

	.page--image {
		margin-top: -2px;
		margin-bottom: 1rem;
	}

}