// ------------------------------------------
// Blog
// ------------------------------------------

.featured {
	padding-top: calc(4rem - .2rem);
	text-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.featured--tile {
	height: 21rem;
	color: $color-body;
	position: relative;
	border-bottom: none;
	width: calc((1/3)*100%);
	background-size: cover;
	background-position: center;
	background-color: rgba($color-headings, .1);

	&:nth-child(2n + 1) {
		background-color: rgba($color-headings, .2);
	}
}

.featured--content {
	width: 100%;
	height: 100%;
	padding: 1.5rem;
	position: absolute;
	background-color: rgba($color-background, .25);
	transition: background-color .25s $transition, -webkit-backdrop-filter .25s $transition;
	-webkit-backdrop-filter: blur(0px);
}

.featured--meta {
	color: rgba($color-headings, .75);
	margin-top: -.5rem;
	margin-bottom: 1rem;
}

.featured--meta--date {
	opacity: 1;
	display: block;
	transition: all .25s $transition;
}

.featured--meta--prompt {
	opacity: 0;
	display: block;
	margin-bottom: -1rem;
	transition: all .25s $transition;
}

.featured--content:hover {
	background-color: rgba($color-background, .75);
	-webkit-backdrop-filter: blur(10px);

	.featured--meta--date {
		opacity: 0;
		transform: translateY(-1.5rem);
	}

	.featured--meta--prompt {
		opacity: 1;
		transform: translateY(-1.5rem);
	}

}

@media (max-width: $width-small) {

	.featured {
		padding-top: calc(1rem - .2rem);
	}

	.featured--tile {
		width: 100%;
		height: 14rem;
	}

}

@media (max-width: $width-tiny) {

	.featured--tile {
		height: 10rem;

		p {
			display: none;
		}
	}

}
