// ------------------------------------------
// Page
// ------------------------------------------


.page {
	padding-bottom: 3rem;
}

.page__title {
	font-size: 2.5em;
	line-height: 1.2;
	font-weight: bold;
	margin-top: calc(4rem + .5rem);
	margin-bottom: calc(4rem + .3rem);

	a {
		color: inherit;
		border-bottom: none;
	}
}

.page__subtitle {
	display: block;
	margin-bottom: 1.5rem;
}

.page__content {
	padding-right: 10%;
}

.page__image {
	overflow: hidden;
	margin-top: calc(3rem - 2px);
	max-height: 25rem;
	margin-bottom: 1px;
	position: relative;

	img {
		margin-bottom: 0;
	}

	&:before {
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		box-shadow: 0 0 0 1px rgba(255,255,255,.1) inset;
	}

}

@media (max-width: $width-tablet) {

	.page__content {
		padding-right: 0;
	}

}

@media (max-width: $width-mobile) {

	.page__title {
		margin-top: calc(1rem + .5rem);
		margin-bottom: calc(1rem + .3rem);
	}

	.page__image {
		margin-top: calc(1rem - 2px);
	}

}