// ------------------------------------------
// HEAD: Styles for _includes/header.html
// ------------------------------------------

.site-header {
	margin-top: 1rem;

	> a {
		line-height: 1;
		display: block;
		font-size: 1.5em;
		border-bottom: none;
		color: $color-body;
	}

	> a:hover {
		color: $color-links;
	}

	nav {
		margin-top: 1rem;
		@include divider;
	}

	ul {
		margin: 0;
		line-height: 1;
		list-style: none;
	}

	li {
		margin-right: 2em;
		display: inline-block;
	}

	nav a {
		padding: 1rem 0;
		border-bottom: none;
		display: inline-block;
		transform: translateY(-2px);
		border-top: 2px solid transparent;
		@include capital;
	}

	.active {
		color: $color-body;
		border-top-color: $color-body;
	}

	a:hover {
		color: $color-links;
		border-top-color: $color-links;
	}

}