// ------------------------------------------
// Footer
// ------------------------------------------

.footer {
	line-height: 1;
	padding-top: 4rem;
	padding-left: 1.5rem;
	padding-bottom: 4rem;
	padding-right: 1.5rem;
	align-items: baseline;
	justify-content: space-between;

	a {
		color: $color-body;
		border-bottom: none;
	}

	a:hover {
		color: $color-headings;
	}

	.active {
		font-weight: bold;
		color: $color-headings;
	}
}

@media (max-width: $width-medium) {

	.footer {
		padding-bottom: 2rem;
	}

}

@media (max-width: $width-small) {

	.footer {
		display: block;
		padding-top: .4rem;
		line-height: inherit;
	}

	.footer__copyright {
		margin-bottom: 2rem;
	}

}