// ------------------------------------------
// Blog
// ------------------------------------------

.featured {
	padding-top: calc(4rem - .2rem);
	padding-bottom: 4rem;
	text-shadow: 0 1px 1px rgba(0,0,0,.25);
}

.featured--tile {
	height: 21rem;
	color: $color-body;
	position: relative;
	border-bottom: none;
	width: calc((1/3)*100%);
	background-size: cover;
	background-position: center;
	background-color: rgba($color-headings, .1);

	&:nth-child(2n + 1) {
		background-color: rgba($color-headings, .2);
	}
}

.featured--content {
	width: 100%;
	height: 100%;
	padding: 1.5rem;
	position: absolute;
	-webkit-backdrop-filter: blur(0px);
	background-color: rgba($color-background, .25);
	transition: background-color .25s $transition, -webkit-backdrop-filter .25s $transition;
}

.featured--meta {
	margin-top: -.5rem;
	margin-bottom: 1rem;
	color: rgba($color-headings, .75);
}

.featured--meta--date {
	opacity: 1;
	display: block;
	transition: all .25s $transition;
}

.featured--meta--prompt {
	opacity: 0;
	display: block;
	margin-bottom: -1rem;
	transition: all .25s $transition;
}

.featured--content:hover {
	-webkit-backdrop-filter: blur(10px);
	background-color: rgba($color-background, .75);

	.featured--meta--date {
		opacity: 0;
		transform: translateY(-1.5rem);
	}

	.featured--meta--prompt {
		opacity: 1;
		transform: translateY(-1.5rem);
	}

}

.blog--year {
	margin-bottom: 1rem;
}

.blog--item {
	border: none;
	display: block;
	margin-bottom: 1.5rem;
	padding-bottom: .5rem;
	background-size: 100% 1px;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: linear-gradient(to right, rgba($color-headings, .1) 0%, rgba($color-headings, 0) 100%);
}

.blog--items {
	margin-top: -.5rem;
	margin-bottom: .5rem;
}

.blog--date {
	display: block;
	margin-top: -.5rem;
	margin-bottom: 1rem;
}

@media (max-width: $width-small) {

	.featured {
		padding-top: calc(1rem - .2rem);
		padding-bottom: 1rem;
	}

	.featured--tile {
		width: 100%;
		height: 14rem;
	}

	.blog--year {
		margin-top: 3rem;
		margin-bottom: 3.5rem;
	}

}

@media (max-width: $width-tiny) {

	.featured--tile {
		height: 10rem;

		p {
			display: none;
		}
	}

}
