// ------------------------------------------
// Work
// ------------------------------------------

.projects {
	padding-top: 4rem;
	padding-bottom: 3rem;
}

.project {
	display: block;
	border-bottom: none;
}

.project--image {
	display: flex;
	overflow: hidden;
	margin-top: -2px;
	max-height: 30rem;
	position: relative;
	align-items: center;
	margin-bottom: calc(1rem + 1px);
	background-color: rgba($color-headings, .1);
	transition: background-color .25s $transition;

	img {
		width: 100%;
		margin-bottom: 0;
	}

	&:before {
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		box-shadow: 0 0 0 1px rgba($color-headings, .1) inset;
	}

	&:hover {
		background-color: rgba($color-headings, .05);
	}

}

@media (max-width: $width-small) {

	.projects {
		padding-top: 1rem;
	}

	.project--image {
		margin-top: -2px;
		margin-bottom: 1rem;
	}

}