// ------------------------------------------
// Page
// ------------------------------------------

.page {
	padding-top: 4rem;
	padding-bottom: 3rem;
}

.page--title {
	font-size: 2.5em;
	line-height: 1.2;
	font-weight: bold;
	margin-top: .5rem;
	margin-bottom: calc(4rem + .3rem);

	a {
		color: inherit;
		border-bottom: none;
	}
}

.page--subtitle {
	display: block;
	margin-bottom: 1.5rem;
}

.page--content {
	padding-right: 10%;
}

.page--image {
	overflow: hidden;
	max-height: 25rem;
	margin-bottom: calc(4rem + 1px);
	position: relative;
	margin-top: -2px;
	display: flex;
	align-items: center;

	img {
		margin-bottom: 0;
	}

	&:before {
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		box-shadow: 0 0 0 1px rgba($color-headings, .1) inset;
	}

}

@media (max-width: $width-medium) {

	.page--content {
		padding-right: 0;
	}

}

@media (max-width: $width-tiny) {

	.page {
		padding-top: 1rem;
	}

	.page--title {
		margin-bottom: calc(1rem + .3rem);
	}

	.page--image {
		margin-top: -2px;
		margin-bottom: 1rem;
	}

}