// ------------------------------------------
// BLOG: Styles for index.md
// ------------------------------------------

.featured-posts {

	.meta {
		background-color: rgba($color-background, .5);
		transition: background-color 0.25s cubic-bezier(.06, .53, .41, .89);
	}

	h1 {
		font-size: 1.5em;
		margin-bottom: 0;
		transition: color 0.25s cubic-bezier(.06, .53, .41, .89);
	}

	time {
		color: rgba($color-headings, .5);
	}

	p {
		margin-top: 1rem;
		font-size: .875rem;
		color: $color-body;
	}

	.tile:hover .meta {
		background-color: rgba($color-background, .75);
		transition: background-color 0s linear;
	}

	.tile:hover h1 {
		color: $color-links;
		transition: color 0s linear;
	}

}

.blogroll {
	margin-left: 0;
	list-style: none;

	li {
		border-bottom: 2px solid rgba($color-body, .125);
	}

	li:last-child {
		border-bottom: none;
	}

	a {
		display: flex;
		padding: .5rem 0;
		border-bottom: none;
		align-items: baseline;
		color: $color-headings;
		justify-content: space-between;
	}

	a:hover {
		color: $color-links;
	}
}

@media (max-width: $width-mobile) {

	.featured-posts p {
		display: none;
	}

	.blogroll a, .blogroll span, .blogroll time {
		display: block;
		line-height: 1.4;
		text-align: left;
	}

	.blogroll span {
		margin-bottom: .4rem;
	}

}