// ------------------------------------------
// BLOG: Styles for index.md
// ------------------------------------------

.grid {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.tile {
	display: block;
	position: relative;
	width: calc(100% / 3);
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: calc(100% / 3);
	background-position: center center;

	.meta {
		width: 100%;
		height: 100%;
		padding: 1rem;
		display: block;
		overflow: hidden;
		position: absolute;
		border-bottom: none;
		text-shadow: 0 1px 1px rgba(0,0,0,.2);
	}

	&:nth-child(n) {
		background-color: rgba($color-body, .25);
	}

	&:nth-child(2n) {
		background-color: rgba($color-body, .5);
	}

}

.featured-posts {

	.meta {
		background-color: rgba($color-background, .5);
		transition: background-color 0.25s cubic-bezier(.06, .53, .41, .89);
	}

	h1 {
		font-size: 1.5em;
		margin-bottom: 0;
		transition: color 0.25s cubic-bezier(.06, .53, .41, .89);
	}

	time, span {
		color: rgba($color-headings, .5);
	}

	span {
		display: none;
		font-size: .875em;
		@include capital;
	}

	p {
		margin-top: 1rem;
		font-size: .875rem;
		color: $color-body;
	}

	.tile:hover .meta {
		background-color: rgba($color-background, .75);
		transition: background-color 0s linear;
	}

	.tile:hover h1 {
		color: $color-links;
		transition: color 0s linear;
	}

	.tile:hover time {
		display: none;
	}

	.tile:hover span {
		display: inline;
	}

}

.blogroll {
	margin-left: 0;
	list-style: none;

	li {
		border-bottom: 2px solid rgba($color-body, .125);
	}

	li:last-child {
		border-bottom: none;
	}

	a {
		display: flex;
		padding: .5rem 0;
		border-bottom: none;
		align-items: baseline;
		color: $color-headings;
		justify-content: space-between;
	}

	a:hover {
		color: $color-links;
	}
}

@media (max-width: $width-content) {

	.tile {
		width: calc(100% / 2);
		padding-bottom: calc(100% / 2);
	}

}

@media (max-width: $width-mobile) {

	.tile {
		width: 100%;
		padding-bottom: 0;
		height: 10rem;
	}

	.featured-posts p {
		display: none;
	}

	.blogroll a, .blogroll span, .blogroll time {
		display: block;
		line-height: 1.4;
		text-align: left;
	}

	.blogroll span {
		margin-bottom: .4rem;
	}

}