// ------------------------------------------
// FOOT: Styles for _includes/footer.html
// ------------------------------------------

.site-footer {

	.endcap {
		display: flex;
		padding-top: 1rem;
		align-items: baseline;
		justify-content: space-between;
		@include divider;
	}

	.endcap a {
		font-size: .875em;
		@include capital;
	}

	.endcap a:hover {
		color: $color-links;
	}

}

@media (max-width: $width-mobile) {

	.twit {
		display: none;
	}

}