// ------------------------------------------
// Header
// ------------------------------------------

.header {
	line-height: 1;
	align-items: baseline;
	padding-top: calc(4rem + .7rem);

	a {
		color: $color-body;
		border-bottom: none;
	}

	a:hover {
		color: $color-headings;
	}

	.active {
		font-weight: bold;
		color: $color-headings;
	}
}

.header__home {
	font-size: 1.5rem;
}

.header__nav ul {
	display: flex;
	margin-left: 0;
	list-style: none;
	text-align: center;
	justify-content: space-between;

}

.header__prompt {
	text-align: right;
}

@media (max-width: $width-content) {

	.header {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		justify-content: space-between;
	}

	.header__home, .header__nav, .header__prompt {
		width: auto;
		margin-left: 0;
		margin-right: 0;
	}

	.header__nav {
		ul {
			justify-content: center;
		}

		a {
			padding: calc(1rem + .9rem);
		}

	}

}

@media (max-width: $width-medium) {

	.header {
		padding-top: calc(1rem + .6rem);
	}

	.header__nav a {
		padding: 1rem;
	}

}

@media (max-width: $width-small) {

	.header__home {
		width: 100%;
		margin-bottom: 2rem;
	}

	.header__nav a {
		padding: 2rem;
	}

	.header__nav a:first-child {
		margin-left: -2rem;
	}

	.header__prompt {
		display: none;
	}

}