/* @custom - connection-catalyst-13-5 */

#name span {
	background-color: #A6DBF3;
}

.push {
	max-width: 80%;
	margin: 0 auto 4em;
}

.meta {
	display: none;
}

.nav a,
.post a,  
.navlink {
	color: #6BBCE1;
}

.active, 
article h1 a {
	color: #000 !important;
}


article h1 {
	width: 140%;
	font-size: 3.5em;
	line-height: 1.2;
	font-weight: bold;
	margin-left: -20%;
	text-align: center;
	font-family: "Elena-Bold", "Elena", "Georgia", sans-serif;
}

strong {
	font-family: "Elena-Bold", "Elena", "Georgia", sans-serif;
}

article h1:before {
	display: block;
	color: #666;
	font-weight: 500;
	font-size: 0.8rem;
	line-height: 1.4;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
	content: 'Authentic Leadership';
	font-family: "Avenir", "avenir-web", Futura, sans-serif;
}

article:before {
	display: block;
	content: ' ';
	width: 413px;
	height: 131px;
	margin: -2em auto 1em;
	background: url(chemicals-1.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

article h1:after {
	display: block;
	content: ' ';
	width: 413px;
	height: 143px;
	margin: 0 auto 1em;
	background: url(chemicals-2.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.footnotes:after {
	display: block;
	content: ' ';
	width: 292px;
	height: 200px;
	margin: 0 auto 1em;
	background: url(connected.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.intro:before {
	content: ' ';
	display: block;
	position: relative;
	width: 10em;
	height: 10em;
	margin-top: 0.5em;
	margin-right: 1em;
	float: left;
	border-radius: 8em;
	background-image: url(mike.jpg);
	background-size: 100%;
}


figure:after,
figure:before,
hr {
	width: 137px;
	height: 30px;
	content: ' ';
	display: block;
	margin: 1rem auto;
}

figure:after {
	background: url(sep-1.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

figure:before {
	background: url(sep-2.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

hr {
	background: url(sep-3.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 2rem auto;
}

.vwrap {
	margin-top: 1.5em;
}

cite {
	font-size: 0.75em;
}

figcaption cite {
	font-size: 1em;
}

figure,
.footnotes {
	width: 140%;
	margin-left: -20%;
	margin-top: 2em;
	margin-bottom: 2em;
}

figure {
	text-align: center;
}

figcaption {
	margin-bottom: 0;
	max-width: 80%;
	font-weight: 500;
	text-align: center;
	font-size: 0.75em;
	font-family: "Avenir", "avenir-web", Futura, sans-serif;
}

.footnotes span {
	display: block;
	color: #6BBCE1;
	margin: 2em auto;
	text-align: center;
}

footer, .paginate {
	text-align: center;
}

.volley-screenshot {
	padding: 32%;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url(volley-shot-1.png);
	background-size: 100%;
	-webkit-animation: giffy-shot 10s ease-in infinite;
	-moz-animation: giffy-shot 10s ease-in infinite;
}

@-webkit-keyframes giffy-shot {
	0%,25%,100% {
		background-image: url(volley-shot-1.png);
	}
	50%,75% {
		background-image: url(volley-shot-2.png);
	}
}

@-moz-keyframes giffy-shot {
	0%,33%,66% {
		background-image: url(volley-shot-1.png);
	}
	34%,67% {
		background-image: url(volley-shot-2.png);
	}
}

.volley-email {
	padding: 48%;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url(volley-email-2.png);
	background-size: 100%;
	-webkit-animation: giffy-email 10s ease-in infinite;
	-moz-animation: giffy-email 10s ease-in infinite;
}

@-webkit-keyframes giffy-email {
	0%,25%,100% {
		background-image: url(volley-email-1.png);
	}
	50%,75% {
		background-image: url(volley-email-2.png);
	}
}

@-moz-keyframes giffy-email {
	0%,33%,66% {
		background-image: url(volley-email-1.png);
	}
	34%,67% {
		background-image: url(volley-email-2.png);
	}
}

@font-face {
	font-family: "Elena-Bold";
	font-weight: bold;
	src: url(elena-bold.ttf) format("truetype");
}

@media screen and (max-width: 900px) {
	article h1, figure, .footnotes {
		width: auto;
		margin-left: 0;
	}
	.footnotes a {
		width: 14em;
		overflow: hidden;
		white-space: nowrap;
		display: inline-block;
		text-overflow: ellipsis;
	}
	article h1:after {
		margin: 0.2em auto 1em;
	}
}

@media screen and (max-width: 580px) {
	article h1 {
		font-size: 2em;
	}
	article:before {
		margin: 1em auto;
		width: 207px;
		height: 66px;
	}
	article h1:after {
		width: 207px;
		height: 72px;
	}
	.push {
		max-width: 100%;
	}
	.intro:before {
		float: none;
		width: 8em;
		height: 8em;
		margin: 0 auto 1em;
	}
}