// --------------------------------
// BASE: Layout & Styles
// --------------------------------

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	min-height: 100vh;
	border-top: 1rem solid lighten($color-secondary, 25%);
	border-bottom: 1rem solid lighten($color-secondary, 25%);
}

body {
	padding: 2em;
}

img {
	max-width: 100%;
}

header {
	margin-bottom: 4rem;
}

.name {
	font-size: 1.5rem;
	border-bottom: none;
	color: $color-secondary;
}

header nav {
	padding-top: 0.5rem;
}

nav {
	text-align: center;
}

nav ul {
	list-style: none;
	margin-left: auto;
}

nav li {
	display: inline-block;
}

nav a {
	padding: 1rem;
	border-bottom: none;
}

.active {
	color: $color-secondary;
}

.page-title {
	text-align: center;
}

.page-title h1 {
	margin-bottom: 4rem;
	display: inline-block;
}

figure {
	margin-bottom: 1rem;
}

.blog-posts {
	padding-left: 0;
	list-style: none;
	margin-left: auto;
	margin-bottom: 4rem;
}

.blog-posts li {
	margin-bottom: 2rem;
}

.blog-posts a {
	display: block;
	border-bottom: none;
}

.blog-posts h2 {
	margin-bottom: 0;
}

.blog-posts span {
	color: $color-secondary;
}

.project {
	margin-bottom: 4rem;
}

.project:after {
	content: '';
	width: 100%;
	height: 1px;
	clear: both;
	display: block;
}

footer {
	margin-top: 8rem;
	min-height: 2rem;
}

.copyright {
	color: $color-secondary;
}

@media (max-width: $width-tablet) {

	body {
		padding: 1rem;
		-webkit-text-size-adjust: 100%;
	}

	header nav {
		padding-top: 0;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

}