// --------------------------------
// TYPE: Typography
// --------------------------------

html {
	line-height: 1.7;
	font-size: $font-size;
	font-family: $font-stack;
	color: $color-foreground;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	background-color: $color-background;
}

::selection {
	background-color: rgba($color-links, 0.3);
}

a {
	text-decoration: none;
	padding-bottom: 0.1rem;
	color: darken($color-foreground, 25%);
	border-bottom: 1px solid lighten($color-foreground, 60%);
	-webkit-tap-highlight-color: rgba($color-links, 0.3);
}

a:hover {
	color: $color-links;
	border-bottom-color: $color-links;
}

h1, h2, h3 {
	font-weight: normal;
	margin-bottom: 1rem;
}

article h1 {
	font-size: 2em;
	line-height: 1.2;
	padding-bottom: .5rem;
	color: darken($color-foreground, 25%);
	box-shadow: 
	0 1px 0 0 lighten($color-foreground, 60%), 
	0 2px 0 0 $color-background,  
	0 3px 0 0 lighten($color-foreground, 60%), 
	0 4px 0 0 $color-background, 
	0 5px 0 0 lighten($color-foreground, 60%), 
	0 6px 0 0 $color-background, 
	0 7px 0 0 lighten($color-foreground, 60%);
}

article h2 {
	font-size: 1.5em;
	color: darken($color-foreground, 10%);
}

article h3 {
	font-size: 1em;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	color: lighten($color-foreground, 25%);
}

article p, article > img {
	margin-bottom: 1em;
}

article ul, article ol {
	margin-left: 1em;
	padding-left: 1em;
}

article li {
	margin-bottom: 1em;
}

article img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}

figure img {
	margin-bottom: .5em;
}

figcaption {
	font-size: 0.8rem;
	color: $color-secondary;
}

blockquote {
	margin-left: 1rem;
	padding-left: 1rem;
	margin-bottom: 1rem;
	color: lighten($color-foreground, 25%);
	box-shadow: 
	-1px 0 0 0 lighten($color-foreground, 60%), 
	-2px 0 0 0 $color-background, 
	-3px 0 0 0 lighten($color-foreground, 60%), 
	-4px 0 0 0 $color-background, 
	-5px 0 0 0 lighten($color-foreground, 60%), 
	-6px 0 0 0 $color-background, 
	-7px 0 0 0 lighten($color-foreground, 60%);
}

code {
	font-size: 0.875em;
	padding: 0.1rem 0.25rem;
	color: lighten($color-foreground, 10%);
	font-family: "SF Mono", "Menlo", monospace;
	background-color: lighten($color-foreground, 65%);
}

pre {
	padding: 0.5rem;
	overflow-x: scroll;
	margin-bottom: 1rem;
	background-color: lighten($color-foreground, 65%);
}

pre code {
	background-color: transparent;
}

cite {
	font-size: 0.8rem;
	font-style: normal;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
	color: lighten($color-foreground, 25%);
}

sup {
	font-size: 0.8rem;
	margin-left: .1rem;
}

sup a {
	border-bottom: none;
}

.footnotes {
	margin-top: 4rem;
	font-size: 0.8rem;
}

hr {
	width: 100%;
	height: 1px;
	clear: both;
	border: none;
	margin-top: 2rem;
	margin-bottom: 2rem;
	box-shadow: 
	0 1px 0 0 lighten($color-foreground, 60%), 
	0 2px 0 0 $color-background,  
	0 3px 0 0 lighten($color-foreground, 60%), 
	0 4px 0 0 $color-background, 
	0 5px 0 0 lighten($color-foreground, 60%), 
	0 6px 0 0 $color-background, 
	0 7px 0 0 lighten($color-foreground, 60%);
}