// --------------------------------
// VARS: Site-wide variables
// --------------------------------

// FONT SETTINGS
$font-size: 16px;
$font-stack: "qWNHNgXEpEmhJDNFu8", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;

// MEDIA QUERIES
$width-full: 800px;
$width-tablet: 640px;
$width-mobile: 414px;

// COLOR SCHEME
$color-secondary: #9CA3A8;
$color-foreground: #404A53;
$color-background: #FFFFFF;