<!doctype html>
<html>
	<head>
		<title>Rounded Button Test</title>
		<meta charset="utf-8"/>

		<style>

		* {
			margin: 0;
			padding: 0;
		}

		body {
			-webkit-font-smoothing: antialiased;
		}

		.button a {
			display: inline-block;
			padding: 13px 0;
			width: 190px;
			text-align: center;
			background-color: #0A263C;
			-webkit-mask-image: url(button.svg);
			font-family: "Lato";
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 13px;
			color: #73D5E9;
			letter-spacing: 2px;
			line-height: 14px;
		}

		</style>
	</head>

	<body>

		<div class="button">
			<a href="#">Follow on Twitter</a>
		</div>

