<!doctype html>
<html>
	<head>
		<title>Blog Layout</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="initial-scale=1"/>
		<link rel="stylesheet" type="text/css" href="layout-blog.css"/>
	</head>
	<body>
		<header>
			<div class="container">
				<h1 class="superuser">
					<a href="#" title="More about Carlos">Carlos Melegrito</a> is a
					<a href="#" title="View Work">designer</a> who
					<a href="#" title="Read Writings">blogs</a>
				</h1>

				<div class="special button">
					<a href="#" title="Follow on Twitter">Follow on Twitter</a>
				</div>

				<nav class="simple-menu">
					<ul>
						<li><a href="#" title="More about Carlos">More About Carlos</a></li>
						<li><a href="#" title="View Work">View Work</a></li>
						<li><a href="#" title="Read Writings">Read Writings</a></li>
					</ul>
				</nav>
			</div>
		</header>