<!doctype html>
<html>
	<head>
		<title>Blog Layout</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="layout-blog.css">
	</head>

	<body>

		<header>
			<h1 class="brand">
				<a href="#" title="More About Carlos">Carlos Melegrito</a> is a
				<a href="#" title="View Work">designer</a> who
				<a href="#" title="Read Writings">blogs</a>
			</h1>

			<div class="special button">
				<a href="#" title="Follow on Twitter">Follow on Twitter</a>
			</div>

			<nav class="menu">
				<ul>
					<li><a href="#" title="More About Carlos">Info</a></li>
					<li><a href="#" title="View Work">Work</a></li>
					<li><a href="#" title="Read Writings">Blog</a>
				</ul>
			</nav>
		</header>
