.post-only {
	display: block;
}

html {
	background-color: #1A0001;
	color: #E8D9C0;
}

.main a {
	color: #FFA448;
	border-bottom-color: rgba(255,164,72,.5)
}

.sitemap a {
	color: #FFA448;
}

.post-title a {
	color: white;
}

.brand {
	color: #E8D9C0;
}

.brand a, .copyright a {
	color: white;
}

.brand a:hover {
	color: white;
}

.brand a:after {
	color: #FFA448;
}

.button a {
	color: #1A0001 !important;
	background-color: #E8D9C0;
}

.button a:hover {
	color: #1A0001 !important;
}

.post-title,
.permalink,
.sidebar {
	display: none;
}

.content {
	display: block;
	margin: 0 auto;
}

.header:after {
	display: block;
	content: 'Ahead of the Status Queue';
	margin: 4rem auto 2rem;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-position: center;
	background-image: url(imgs/mug.jpg);
	background-size: 210%;
	font-size: 9rem;
	font-weight: 900;
	color: white;
	text-align: center;
	font-style: italic;
	line-height: 1;
}

figure img {
	margin-bottom: .5rem;
}

figcaption {
	font-size: 0.65em;
}

.normal {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.insta {
	margin-top: .5rem;
}

.slightly-large {
	width: 130%;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: -15%;
}

.slightly-large figcaption, .more-large figcaption {
	text-align: center;
}

.footnotes {
	font-size: 0.65em;
	margin-top: 4rem;
}

hr {
	background-color: rgba(255,255,255,0.2);
}

@media (max-width: 1000px) {

	.header:after {
		font-size: 6rem;
		background-size: 200%;
	}


	.slightly-large, .more-large {
		width: auto;
		margin-left: 0;
	}

}

@media (max-width: 700px) {

	.header:after {
		font-size: 5rem;
	}

}