.project {
	display: inline-block;
	margin-bottom: 6em;
}

.work section {
	text-align: center;
}

.feat {
	border-bottom: none;
}

.feat:hover h1 {
	color: #FFF;
}

.project {
	margin-bottom: 6em;
}

.project img {
	margin: 0 -2px 0;
	vertical-align: top;
	pointer-events: none;
	display: inline-block;
}

.project h1 {
	color: #40BB9C;
	font-size: 1.2em;
	margin-bottom: 1em;
	transition: color 0.25s cubic-bezier(.06,.53,.41,.89);
}

.vid {
	margin-left: 2em;
	margin-right: 2em;
	vertical-align: bottom;
	display: inline-block;
}

.vid img {
	opacity: 0.8;
	border-radius: 3px;
	box-shadow: 0px 2px 6px rgba(0,0,0,.25);
	transition: opacity 0.25s cubic-bezier(.06,.53,.41,.89);
}

.vid:hover > img {
	opacity: 1;
}

.logo {
	display: inline-block;
	vertical-align: middle;
}

.linkage {
	display: block;
}

.misc {
	width: 49.5%;
	vertical-align: top;
	display: inline-block;
}

.misc h1 {
	margin-bottom: 0;
}

.misc ul {
	list-style: none;
	font-weight: bold;
}

.misc li {
	padding: .25em 0;
}

.company {
	margin: 1.5em;
	display: inline-block;
}

.industry {
	margin-top: 1.75em;
}

.actions .button {
	margin: 0 1em;
	display: inline-block;
}

#glacier img {
	margin-bottom: 16px;
}

#glacier img:nth-child(even) {
	margin-right: 26px;
}

#eight_fit img:nth-child(2) {
	margin-right: 14px;
}

#folders img:nth-child(2) {
	margin-right: 54px;
}

#calibre {
	margin: 0 2.5em;
}

#calibre img {
	border-radius: 3px;
	box-shadow: 0px 2px 6px rgba(0,0,0,.25);
}

@media (max-width: 950px) {

	.project {
		margin-bottom: 4em;
	}

	.project img {
		width: 100%;
	}

	.vid {
		max-width: 40%;
		margin-left: 0;
		margin-right: 0;
	}

	.logo {
		margin: 0 8%;
	}

	.logo img {
		width: auto;
	}

	.actions .button {
		display: block;
		margin: 1em auto;
	}

	#glacier img {
		max-width: 49%;
		margin-bottom: 1.89%;
	}

	#glacier img:nth-child(even) {
		margin-right: 1.89%;
	}

	#eight_fit img {
		max-width: 49.19%;
	}

	#eight_fit img:nth-child(2) {
		margin-right: 1.6%;
	}

	#folders img:nth-child(2) {
		max-width: 57.45%;
		margin-right: 6.38%;
	}

	#folders img:nth-child(3) {
		max-width: 36.17%;
	}

	#calibre {
		margin: 0;
	}

	#seb {
		margin-left: 0;
	}

}

@media (max-width: 480px) {

	.project img {
		display: block;
		margin: 0 auto;
	}

	.vid {
		max-width: 100%;
	}

	.logo {
		display: block;
		margin: 0 auto;
	}

	.misc {
		width: auto;
		margin-bottom: 2em;
	}

	.companies .misc {
		margin-bottom: .5em;
	}

	#glacier img {
		max-width: 100%;
		margin-bottom: 1.5em;
	}

	#eight_fit img {
		max-width: 100%;
		margin-bottom: 1em;
	}

	#folders img:nth-child(2) {
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 1.5em;
	}

	#folders img:nth-child(3) {
		max-width: 100%;
	}

}