
.projects {
	padding: 0;
}

	.project {
		padding-left: 2em;
		padding-right: 2em;
		text-align: center;
	}

	.project:nth-child(1) {
		background-color: #0A263C;
	}

	.project:nth-child(2) {
		background-color: #092236;
	}

	.project:nth-child(3) {
		background-color: #081E30;
	}

	.centerer {
		margin-left: .2em;
		position: relative;
		display: inline-block;
	}

	.project img {
		margin-bottom: 0;
		user-select: none;
		margin-left: -.2em;
		display: inline-block;
		vertical-align: middle;
		pointer-events: none;
		-o-user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-webkit-touch-callout: none;
	}

#glacier {
	padding-top: 1.2em;
	padding-bottom: 1.2em;
}

	#glacier img {
		max-width: 424px;
	}

#eight_fit {
	padding-top: 5.6em;
	padding-bottom: 5.6em;
}

	#eight_fit img {
		max-width: 433px
	}

#videos {
	padding-top: 2.75em;
	padding-bottom: 2.75em;
}

	#videos .centerer {
		display: block;
	}

	.vid {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		margin-left: -.2em;
		text-align: center;
	}

	.vid img {
		display: inline-block;
		vertical-align: middle;
		max-width: 364px;
	}

@media (max-width: 960px) {

	#glacier img,
	#eight_fit img {
		max-width: 50%;
	}

	.vid img {
		max-width: 100%;
	}

}

@media (max-width: 568px) {

	.project {
		padding: 1em;
	}

	.centerer {
		margin-left: 0;
	}

	#glacier {
		padding: 1em;
	}

	#eight_fit {
		padding: 2em 1em 1em;
	}

	#videos {
		padding: 2em 1em 0;
	}

	#glacier img,
	#eight_fit img,
	#videos img {
		margin-left: 0;
		max-width: 100%;
	}

	#eight_fit img {
		margin-bottom: 12px;
	}

	.vid {
		width: auto;
		max-width: 364px;
		text-align: center;
		margin-bottom: 40px;
	}

	#glacier img:nth-child(3),
	#glacier img:nth-child(4) {
		display: none;
	}

	#glacier img:nth-child(even),
	#eight_fit img:nth-child(even) {
		position: relative;
		margin-left: -.75em;
	}
}

@media (max-width: 480px) {
	.projects {
		padding: 0;
	}
}