
.projects {
	padding: 0;
}

	.project {
		padding-left: 2em;
		padding-right: 2em;
		text-align: center;
	}

	.project h1 {
		color: #1C9AF8;
		font-size: 1.2em;
		margin-bottom: 1em;
		display: none;
	}

	.project:nth-child(1) {
		background-color: #0A263C;
	}

	.project:nth-child(2) {
		background-color: #092236;
	}

	.project:nth-child(3) {
		background-color: #081E30;
	}

	.project:nth-child(4) {
		background-color: #071A2A;
	}

	.project:nth-child(5) {
		background-color: #061624;
	}

	.project:nth-child(6) {
		background-color: #051421;
	}

	.centerer {
		margin-left: .2em;
		position: relative;
		display: inline-block;
	}

	.project img {
		margin-bottom: 0;
		user-select: none;
		margin-left: -.2em;
		display: inline-block;
		vertical-align: middle;
		pointer-events: none;
		-o-user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-webkit-touch-callout: none;
	}

#glacier {
	padding-top: 1.2em;
	padding-bottom: 1.2em;
}

	#glacier img {
		max-width: 424px;
	}

#eight_fit {
	padding-top: 5.6em;
	padding-bottom: 5.6em;
}

	#eight_fit img {
		max-width: 433px
	}

#videos {
	padding-top: 2.75em;
	padding-bottom: 2.75em;
}

	#videos .centerer {
		display: block;
	}

	.vid {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		margin-left: -.2em;
		text-align: center;
	}

	.vid img {
		display: inline-block;
		vertical-align: middle;
		max-width: 364px;
	}

#folders {
	padding-top: 5.5em;
	padding-bottom: 5.5em;
}

	#folders img:nth-child(1) {
		max-width: 486px;
		margin-right: 54px;
	}

	#folders img:nth-child(2) {
		max-width: 306px;
	}

#logos {
	padding-top: 3.95em;
	padding-bottom: 3.95em;
}

	#logos img:nth-child(1) {
		max-width: 154px;
	}

	#logos img:nth-child(2) {
		max-width: 295px;
		margin: 0 3em;
	}

	#logos img:nth-child(3) {
		max-width: 162px;
	}

#misc {
	padding-top: 4.65em;
	padding-bottom: 4.65em;
}

	#misc .centerer {
		width: 100%;
	}

	.tile {
		display: inline-block;
		vertical-align: top;
		margin-left: -.2em;
		width: 50%;
	}

	.tile a {
		display: block;
	}

	.left {
		text-align: left;
	}

	.right {
		text-align: right;
	}

#collabs {
	padding-top: 2.125em;
	padding-bottom: 2.125em;
}

	#collabs img {
		margin: 1.5em 3em;
	}

	.bohemian {
		max-width: 306px;
	}

	.industry {
		max-width: 268px;
	}

	.envato {
		max-width: 224px;
	}

	.sketchcasts {
		max-width: 257px;
	}

@media (max-width: 960px) {

	#glacier img,
	#eight_fit img {
		max-width: 50%;
	}

	.vid img {
		max-width: 90%;
	}

	#folders img:nth-child(1)  {
		max-width: 57%;
		margin-right: 6%;
	}

	#folders img:nth-child(2)  {
		max-width: 36%;
	}

	#logos img:nth-child(1) {
		max-width: 20%;
	}

	#logos img:nth-child(2) {
		max-width: 40%;
		margin: 0 2em;
	}

	#logos img:nth-child(3) {
		max-width: 20%;
	}



}

@media (max-width: 414px) {

	.vid {
		max-width: 100%;
	}

}

@media (max-width: 568px) {

	.project {
		padding: 1em;
	}

	.centerer {
		margin-left: 0;
	}

	#glacier {
		padding: 1em;
	}

	#eight_fit {
		padding: 2em 1em;
	}

	#videos {
		padding: 1.2em 1em 0;
	}

	#folders {
		padding: 1.5em 1em;
	}

	#logos {
		padding: 1.5em 1em 0;
	}

	#collabs {
		padding: 1.5em 1em;
	}

	#glacier img,
	#eight_fit img,
	#videos img,
	#logos img {
		margin-left: 0;
		max-width: 100%;
	}

	#eight_fit img {
		margin-bottom: 12px;
	}

	.vid {
		width: auto;
		max-width: 364px;
		text-align: center;
		margin-bottom: 1em;
	}

	#folders img:nth-child(1)  {
		max-width: 95%;
		margin-right: 0;
		margin-left: -.5em;
		margin-bottom: 20px;
	}

	#folders img:nth-child(2)  {
		max-width: 95%;
	}

	#logos img {
		display: block;
		margin: 0 auto 1em;
	}

	#logos img:nth-child(1) {
		max-width: 40%;
	}

	#logos img:nth-child(2) {
		max-width: 80%;
		margin: 0 auto 1em;
	}

	#logos img:nth-child(3) {
		max-width: 40%;
	}

	#collabs img {
		margin: 1.5em 0;
	}

	#glacier img:nth-child(3),
	#glacier img:nth-child(4) {
		display: none;
	}

	#glacier img:nth-child(even),
	#eight_fit img:nth-child(even) {
		position: relative;
		margin-left: -.75em;
	}
}

@media (max-width: 480px) {
	.projects {
		padding: 0;
	}
}