{% include head.html %}
	<body>
		{% include header.html %}
		<article class="page grid" id="gridify">
			{% if page.image %}
			<figure class="page__image grid__col--full">
				<img src="{{ page.image }}"/>
			</figure>
			{% endif %}
			<h1 class="page__title grid__col--wide"><a href="{{ page.url }}">{{ page.title }}</a></h1>
			<time class="page__subtitle grid__col--mini">{{ page.subtitle }}</time>
			<div class="page__content grid__col--maxi">
				{{ content }}
			</div>
		</article>
		{% include footer.html %}
	</body>
{% include foot.html %}