@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,500italic,700italic,400italic);

.post-only {
	display: block;
}

body:before {
	display: block;
	content: 'Built To Last';
	color: white;
	line-height: 1;
	font-weight: 900;
	text-align: center;
	background-image: url(imgs/tools.jpg);
	text-shadow: 0 2px 14px rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 14px rgba(0, 0, 0, 0.3);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	max-width: 100%;
	font-size: 6em;
	padding: 14rem 5rem 16rem;
}

.main:before {
	display: block;
	content: 'How Handkrafted is is reshaping the furniture industry';
	text-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
	color: #FFF;
	font-size: 1.5em;
	line-height: 1.4;
	font-style: italic;
	text-align: center;
	top: -16rem;
	z-index: 999;
	position: relative;
}

.header {
	display: none;
}

.post-title {
	display: none;
}

.permalink {
	display: none;
}

.post-only {
	display: block;
}

html {
	color: #333;
	background-color: #FFF;
	background-image: url(imgs/blur.jpg);
	background-attachment: fixed;
	background-size: cover;
	font-family: "San Francisco", -apple-system, "Roboto", "Helvetica Neue", "Helvetica", "Lato", sans-serif;
}

a:hover, a:focus {
	color: #000;
}

.brand {
	color: #333;
}

.brand a {
	color: #000;
}

.brand a:hover {
	color: #999;
}

.brand a:after {
	color: #999;
}

.main a {
	color: #000;
	border-bottom: .1rem solid #000;
}

.main a:hover {
	color: #000;
	border-bottom-color: #999;
}

.post-title a {
	color: #000;
	border: none;
}

.button a, 
.read_more {
	color: #333 !important;
	background-color: #ccc;
}

.button a:hover {
	color: #000 !important;
}

.sitemap a {
	color: #999;
}

.sitemap a:hover {
	color: #000;
}

.copyright a {
	color: #000;
}

.sidebar {
	display: none;
}

.permalink {
	display: none;
}

.content {
	display: block;
	margin: -3rem auto 0;
}

figure {
}

figure img {
	margin-bottom: .5rem;
	box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
}

.embed {
	box-shadow: 0 2px 14px rgba(0, 0, 0, 0.3);
}

figcaption {
	font-size: 0.65em;
}

.right-floater {
	float: right;
	max-width: 30%;
	margin-top: .5rem;
	margin-left: 1rem;
	vertical-align: top;
}

.right-floater figcaption {
	text-align: right;
}

.left-floater {
	float: left;
	max-width: 30%;
	margin-top: .5rem;
	margin-right: 1rem;
	vertical-align: top;
}

.slightly-large {
	width: 130%;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: -15%;
}

.slightly-large figcaption, .more-large figcaption {
	text-align: center;
}

.more-large {
	width: 150%;
	margin-top: 2rem;
	margin-bottom: 1rem;
	margin-left: -25%;
}

.footnotes {
	font-size: 0.65em;
	margin-top: 4rem;
}

hr {
	background-color: rgba(0,0,0,.2);
}

@media (max-width: 1024px) {

	body:before {
		font-size: 5em;
		padding: 14rem 2rem;
	}

	.main:before {
		font-size: 1.2em;
		top: -12em;
	}

}

@media (max-width: 800px) {

	.slightly-large {
		width: auto;
		margin-left: 0;
	}

}

@media (max-width: 736px) {

	body:before {
		padding: 4rem 1rem 7rem;
	}

	.main:before {
		top: -8rem;
	}

}

@media (max-width: 414px) {


	body:before {
		padding: 4rem 1rem 8rem;
	}

	.right-floater, .left-floater {
		float: none;
		max-width: 100%;
		margin: 0 auto 1rem;
	}

	figcaption {
		text-align: left !important;
	}

}

@media (max-width: 320px) {

	body:before {
		font-size: 3em;
	}

}