html {
	background: #002B74;
	color: #C5D2E7;
}

::selection {
	background-color: rgba(255,255,255, 0.2);
}

a, .header a, footer, .footer a, time {
	color: #3F66A9;
}

article a {
	color: white;
	border-bottom-color: rgba(255,255,255,0.25);
}

a:hover, .header a:hover, .footer a:hover {
	color: white;
}

.header .active {
	color: white;
}

.page--image:before {
	box-shadow: none;
}

.page--title {
	color: white;
}

.link-icon {
	filter: none;
	-webkit-filter: none;
}

figcaption {
	color: #3F66A9;
}

a:hover, a:active {
	color: white;
	border-bottom-color: white;
}

code {
	color: white;
	background-color: rgba(255,255,255,0.1);
}

pre {
	background-color: rgba(255,255,255,0.1);
}